#chessboard_cont
	position: relative
	width: 100%
	height: 100%
	display: flex
	justify-content: center
	align-items: center


#chessboard-board
	width: 30em !important
	height: auto !important
	border-radius: .5em


[id^="chessboard-square"]
	&.avail_move
		>div
			//box-shadow: inset 0 0 .75em #0000009e

			&::after
				content: ""
				position: absolute
				width: 1em
				height: 1em
				top: 50%
				left: 50%
				transform: translate3d(-50%, -50%, 0)
				border-radius: 100%
				background-color: #49843c99

	&.last_move
		>div
			background-color: #8cff1847
			

[id^="chessboard-piece"]
	&[style*="cursor: pointer"]
		/*
			Disable the 'pointer' cursor 'react-chessboard' adds for
			non-draggable pieces
		cursor: default !important

	&[data-piece$="K"]
		&.checked
			filter: drop-shadow(0 0 .5em #ff0000c9) drop-shadow(0 0 .5em #ff0000c9)

