#chessboard_cont
	position: relative
	width: 100%
	height: 100%
	display: flex
	justify-content: center
	align-items: center


#chessboard-board
	width: 30em !important
	height: auto !important
	border-radius: .5em


[id^="chessboard-piece"]
	&[style*="cursor: pointer"]
		/*
			Disable the 'pointer' cursor 'react-chessboard' adds for
			non-draggable pieces
		cursor: default !important


[id^="chessboard-square"]
	&.last_move
		>div
			background-color: #8cff1847